# code: language=yaml
#
# Output XR status
#

{{- $xr := getCompositeResource . }}
---
apiVersion: {{ $xr.apiVersion }}
kind: {{ $xr.kind }}
status:
  ready: {{ $state.status.ready }}
  bootstrapPhase: {{ $state.status.bootstrapPhase | quote }}
  bootstrapMethod: {{ $state.status.bootstrapMethod | quote }}
  sourceSnapshotContent: {{ $state.status.sourceSnapshotContent | quote }}
