# code: language=yaml
#
# Helm Release: atlas-operator
#
# Atlas Operator manages declarative database schema migrations via
# AtlasMigration and AtlasSchema CRDs.
#

{{- $atlas := $state.atlasOperator }}

---
apiVersion: helm.m.crossplane.io/v1beta1
kind: Release
metadata:
  name: {{ $atlas.name }}
  annotations:
    {{ setResourceNameAnnotation "atlas-operator" }}
  labels: {{ $state.labels | toJson }}
spec:
  managementPolicies: {{ $state.managementPolicies | toJson }}
  forProvider:
    chart:
      name: atlas-operator
      repository: oci://ghcr.io/ariga/charts
      # renovate: datasource=docker depName=ariga/charts/atlas-operator registryUrl=https://ghcr.io
      version: 0.7.48
    namespace: {{ $atlas.namespace }}
    {{- if $atlas.overrideAllValues }}
    values:
      {{- toYaml $atlas.overrideAllValues | nindent 6 }}
    {{- else }}
    {{- $chartDefaults := dict
      "prewarmDevDB" true
      "resources" (dict
        "requests" (dict "cpu" "15m" "memory" "100Mi")
        "limits" (dict "cpu" "100m" "memory" "256Mi")
      )
    }}
    {{- if $state.ha.enabled }}
      {{- $_ := set $chartDefaults "replicaCount" $state.ha.replicas }}
      {{- if $state.ha.topologySpreadByZone }}
        {{- $_ := set $chartDefaults "topologySpreadConstraints" (list (dict
          "maxSkew" 1
          "topologyKey" "topology.kubernetes.io/zone"
          "whenUnsatisfiable" "ScheduleAnyway"
          "labelSelector" (dict "matchLabels" (dict "app.kubernetes.io/name" "atlas-operator"))
        )) }}
      {{- end }}
    {{- end }}
    {{- $mergedValues := mergeOverwrite $chartDefaults ($atlas.values | default dict) }}
    values:
      {{- toYaml $mergedValues | nindent 6 }}
    {{- end }}
  rollbackLimit: 3
  providerConfigRef:
    name: {{ $state.helmProviderConfigRef.name }}
    kind: {{ $state.helmProviderConfigRef.kind }}
